* {
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient( #FFF, #8DC27E);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

.form-check-label {
    margin-right: 30px; 
}

.jumbotron {
    background: transparent;
}

#map {
    width: 100%;
    height: 750px;
  }

.hide {
      display: none;
  }

#eventList h2 {
      text-align: center;
  }

#events {
      text-align: center;
      margin : auto;
      list-style-type : none;
  }

li {
      list-style: none;
      text-align: center;
  }

#events li button{
      margin : auto;
  }

.event_detail {
    text-align: justify;
}

.eventThumbnail {
      display : block;
      margin : auto;
  }

  .mapThumbnail {
    display : block;
    margin : auto;
}