* {
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

header {
    text-align: left;
    margin: 10px 20px;
    background: #fff;
    color: #3554a3;
}

header a {
    text-decoration: none;
}

main {
    text-align: center;
    background: #7691db;
    padding: 20px auto;
}

.sign_up_form label {
    display: inline-block;
    margin: 10px auto;
    padding: 5px;
}

.text_field {
    display: block;
    width: 250px;
    margin: 10px auto;
    padding: 10px;
}

.sign_up_form button {
    display: inline-block;
    margin: 10px auto;
}

footer {
    margin: 10px 20px;
}

